.blink {
  animation: blink-animation 1s steps(15, start) infinite;
  -webkit-animation: blink-animation 1s steps(5, start) infinite;
}
@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

.glowing {
  box-shadow: inset 0 0 5em 0 silver;
  background-color: darkgray;
  background-image: linear-gradient(gray, dimgray, gray);
  animation: glow-animation 3s steps(15, start) infinite;
}

@keyframes glow-animation {
  66% { box-shadow: inset 0 0 10em 0 whitesmoke; }
  100% { box-shadow: inset 0 0 5em 0 silver; }
}

.anthill{
  background-color: black;
  background-image: linear-gradient(whitesmoke, black);
}


.pond{
  height: 100%;
  background-image: url('../media/wave.png');
  background-repeat: repeat-x;
  background-position-y: bottom;
  animation: wave-animation 4s steps(25, start) infinite;
}

.clear{
  box-shadow: none;
  background-color: white;
  background-image: none;
}

@keyframes wave-animation {
  100% { background-position-x:  100em;}
}

.hexagon {
  width: 40%;
  padding-top: 7%;
  padding-bottom: 7%;
  max-width: 350px;
  min-width: 150px;
  max-height: 400px;
  min-height: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: black;
  color: white;
  -webkit-clip-path: polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0% 50%);
  clip-path: polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0% 50%);
}

.input {
  width: 30%;
  height: 2.4em;
  border-radius: 0.75em;
  border: none;
  outline: none;
  background-color: #212121;
  color: #e8e8e8;
  font-weight: bold;
  text-align: justify;
  box-shadow: inset 2px 2px 5px #000000, inset -2px -2px 5px #676767;
  padding-left: 20%;
}
